.margin-left{
    margin-left: 12px !important;

}

#jumbotron{

  margin-left: 400px ;
  margin-right: 200px;

}

#sidebartext{
	color : white;
}



.form-navbar{
	margin-right: 190px !important
}


body {
  background-image: url('images/solid.png');
  background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer{
  margin-top: 20%;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.blogTextarea{
	height: 450px;
  resize: none;
}


#formsubmit{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}





.blogButtons{
  height: 50%;
  width: 100%;

}


#profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#blog_image{
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 100%%;
  width: 100%;
  object-fit: cover;
  border-radius: 1%;
}


.roundBorder{
  border-radius: 2%;
}


.roundShadow{
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
