
.input_border{

  border: none;
  border-bottom: 1px solid grey;
 border-radius: 0px;

}


#padding_zero{
  padding: 0px;
}

#navbar_shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
  /*background-image: url('images/solid.png');
  background-attachment: fixed ;*/
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

hr {
  margin-top: 10px;
  margin-bottom:10px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}



footer{
  margin-top: 20%;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}


#contact_us {
  background-image: url('images/contact_us.jpg');
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}





.margin-left{
  margin-left: 12px !important;

}

/*#jumbotron{

  margin-left: 400px ;
  margin-right: 200px;

  }*/
  .navbarText{

    color:white;

  }


  #sidebartext{
   color : white;
 }



 .form-navbar{
   margin-right: 190px !important
 }




 .blogTextarea{
   height: 450px;
   resize: none;
 }

 .contactTextarea{
  height: 180px;
  resize: none;
}



#formsubmit{
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}





.blogButtons{
  height: 50%;
  width: 100%;

}


.text_shadow{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




#profile_page_pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#edit_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid grey;
  
}

#img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #4c4c4c;
  
}

#img1{
  display: block;
/*  margin-left: auto;
  margin-right: auto;*/
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 1%;
  border: 1px solid #e2e2e2;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border:2px solid white;
 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}



#read_more_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:300px;
  object-fit: cover;
  padding: 10px;
  border-radius: 15px;
  

}

#view_blog_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 5%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}



#blog_image{
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}

#profile_blogs_image{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 315px;
 height: 315px;
 object-fit: cover;
 border: 1px solid black;
}

#about_us_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about_us_card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff; 
}


#about_card{
  border-radius: 2px;
  background-color: #ffffff;
  border:1px solid #b2b2b2;
  
}



#index_card{

  box-shadow: 0 400px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #49659f; 
}




#container_shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.roundBorder{
  border-radius: 2%;
}


.roundShadow{
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* MODAL BOX CSS FOR READ MORE*/
.modal-dialog-full-width {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width:none !important;s

}

.modal-content-full-width  {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  background-color: #ececec !important 
}

.modal-header-full-width  {
  border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
  border-top: 1px solid #9ea2a2 !important;
}





/*COMMENTS*/
#commenterImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid black;
 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}



#logout{
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 30px;
}

.btn-circle {
  width: 150px;
  height: auto;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 10px;
  
}








/*FOR IMPLEMENTING SEND BUTTON INTO THE INPUT*/

#commentDiv{
  
  display:flex;
  flex-direction:row;
  outline: none;
  
  

  
  padding:2px;
}

.commentfix{
 flex-grow:2;
 
 border:none;
 outline: none;
}

.commentfix:focus {
 
  outline: none;
}


